<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <!-- add your targets here -->

    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target name="csvVerbose" xsi:type="File" fileName="C:/Users/Brenden/Documents/SWGEmuClientLib/SWG.Client/SWG.Client/bin/Debug/verboseGenralLog.csv">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
        <column name="message" layout="${message}" />
      </layout>
    </target>
    <target name="csv" xsi:type="File" fileName="C:/Users/Brenden/Documents/SWGEmuClientLib/SWG.Client/SWG.Client/bin/Debug/generalLog.csv">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
        <column name="message" layout="${message}" />
      </layout>
    </target>
    <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
    <target name="baselines" xsi:type="File" fileName="C:/Users/Brenden/Documents/SWGEmuClientLib/SWG.Client/SWG.Client/bin/Debug/baselines.csv">
      <layout xsi:type="CSVLayout">
        <column name="message" layout="${message}" />
      </layout>
    </target>
      <target name="ObjectCreateLogger" xsi:type="File" fileName="C:/Users/Brenden/Documents/SWGEmuClientLib/SWG.Client/SWG.Client/bin/Debug/ObjectCreateLog.csv">
      <layout xsi:type="CSVLayout">
        <column name="message" layout="${message}" />
      </layout>
    </target>
    <target name="MsgLogger" xsi:type="File" fileName="C:/Users/Brenden/Documents/SWGEmuClientLib/SWG.Client/SWG.Client/bin/Debug/MsgLogger.csv">
      <layout xsi:type="CSVLayout">
        <column name="message" layout="${message}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="ObjectCreateLogger" minlevel="Trace" writeTo="ObjectCreateLogger" final="true" />
    <logger name="MsgLogger" minlevel="Trace" writeTo="MsgLogger" final="true" />
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="SWG.Client.Network.Session" minlevel="Trace" writeTo="csvVerbose" final="true" />
    <logger name="*" minlevel="Trace" writeTo="csv" />
    <logger name="baselines" minlevel="Trace" writeTo="baselines" />
  </rules>
</nlog>